:root {
   --slot-height: var(--font-size-h);
   --slot-ratio: 2 / 3;
   --slot-count: 3;
   --slot-base: var(--accent-dark);
   /* ⚫ основной фон корпуса (тёмный металл) */
   --slot-body-bg: rgb(69, 62, 56);
   /* ⚫ внутренняя тень (глубина слота) */
   --slot-inner-shadow: rgba(0, 0, 0, 0.6);
   /* ✨ акцент свечения цифр */
   --slot-glow: var(--accent-light);
   --slot-text-color: var(--accent-light);
}

.slots {
   display: grid;
   grid-template-columns: repeat(var(--slot-count), 1fr);
   width: calc(
      var(--spacing-S) * 2 + var(--font-size-h) * var(--slot-ratio) *
         var(--slot-count)
   );
   padding: var(--spacing-S);
   background: var(--slot-base);
   align-items: center;

   -webkit-user-select: none; /* Chrome, Safari, Opera */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* IE, Edge */
   user-select: none; /* Стандартный синтаксис */
}

.slot {
   height: var(--slot-height);
   aspect-ratio: var(--slot-ratio);
   background: linear-gradient(to bottom, var(--slot-body-bg), rgb(15, 15, 18));
   overflow: hidden;

   ul {
      height: 100%;
      list-style-type: none;

      li {
         display: flex;
         justify-content: center;
         align-items: center;
         height: var(--slot-height);
         font-size: calc(var(--slot-height) - var(--spacing-S) * 2);
         font-family: var(--font-h);
         color: var(--slot-text-color);
         text-shadow: 0 0 10px var(--slot-glow);
         box-shadow:
            inset 0 4px 6px var(--slot-inner-shadow),
            inset 0 -4px 6px var(--slot-inner-shadow);
      }
   }
   ul.trans {
      transition: transform 0.3s ease;
   }
}
